<!DOCTYPE html>
<html>
    <head>
        <title>Estudiantes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <header>
    </header>
    <body>
        <h1>LISTA DE ESTUDIANTES</h1>
        <table>
            <thead>
                <tr>
                    <th>Nombre Completo</th>
                    <th>Edad</th>
                    <th>Curso</th>
                    <th>Nota</th>
                </tr>
            </thead>
            <tbody>
                {% for estudiante in estudiantes %}
                        <tr>
                            <td>{{estudiante.nombre}}</td>
                            <td>{{estudiante.edad}}</td>
                            <td>{{estudiante.nota}}</td>
                            <td>{{estudiante.nombCurso}}</td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>